development:
  # Used as the base secret for all MessageVerifiers in Rails, including the one
  # protecting cookies; a new key can be generated via `bin/rails secret`.
  secret_key_base: [SECRET]

  # Finnhub API key (https://finnhub.io/dashboard)
  finnhub:
    api_key: [KEY]

test:
  secret_key_base: [SECRET]

  finnhub:
    api_key: test-api-key
