development:
  # Used as the base secret for all MessageVerifiers in Rails, including the one
  # protecting cookies; a new key can be generated via `bin/rails secret`.
  secret_key_base: [SECRET]

  # AlphaVantage API key (https://www.alphavantage.co/support/#api-key)
  alpha_vantage:
    api_key: [KEY]

test:
  secret_key_base: [SECRET]

  alpha_vantage:
    api_key: test-api-key
